.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #dce9ff, #f7eaff);
  font-family: "Poppins", sans-serif;
}

.login-card {
  width: 380px;
  padding: 35px;
  border-radius: 15px;
  background: white;
  transition: 0.3s ease-in-out;
}

.login-card:hover {
  transform: translateY(-5px);
}

input {
  height: 45px;
  font-size: 15px;
}

button {
  height: 45px;
  font-size: 18px;
  border-radius: 10px;
}
